[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pandas = "*"
requests = "*"
holoviews = {version = "*", extras = ["extras"]}
cython = "*"
cartopy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
lxml = "*"
black = "*"

[requires]
python_version = "3.6"

[scripts]
mkdb = "python scripts/make_db.py"
tests = "pytest -v --cov=scripts/ tests/ --cov-report=term-missing"
lint = "black ."
